@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');


*{
    box-sizing: border-box;
}
body {
    margin:0;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #1F647C;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
header {
    height: calc(100vh - 150px);
    background: no-repeat center/cover url('img/fugi.jpg');
}
header nav {
    display: flex;
    justify-content: space-around;
    margin: auto 30px;
}
header nav p{
    font-weight: bold;  
}
header nav ul { 
    list-style: none ;
    display: flex;
}
header nav ul li {
    margin: 0 15px;
}
.header-content {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
}
.header-content h1 {
    margin-bottom: 10px;
    font-size: 4rem;
}
.pacotes{
    background: #e5e5e5;
    padding: 15px;
}
.pacotes .pacotes-cards {
    display: flex;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: center;
}
.pacotes .pacotes-tittle {
    width: 100%;
    margin: 25px 0px;
    text-align: center;
    
}
.pacotes .card {
    width: 250px;
    height: 350px;
    background: white;
    border-radius: 24px 0px;
    margin: 25px;
    position: relative; 
}
.pacotes .card-image {
    width: 250px;
    height: 200px;
    border-radius: 24px 0px 0px 0px;
    object-fit: cover;

}
.pacotes .card-content {
    padding: 0px 15px;
    
}
.pacotes .card-content ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;

}
.pacotes .card-content ul li {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin: 3px 0px;
    
}
.pacotes .card-content li svg {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
.pacotes .card-content h1{
    font-size: 1rem;
}

.pacotes .card .card-tag-top {
    position: absolute;
    right: 0;
    top: 15px;
    background: #F7B500;
    border-radius: 8px 0px 0px 8px;
    padding: 5px 10px;
}
.pacotes .card .card-tag-bottom {
    position: absolute;
    left: 0;
    top: 160px;
    background: #6236FF;
    border-radius: 0px 8px 8px 0px;
    padding: 5px 10px;
}

.pacotes .card .card-tag p {
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
}
.serviços {
    padding: 15px;
}
.serviços-tittle {
    text-align: center;
    margin: 35px 0px;
}

.serviços .serviços-card {
    display: flex;
    max-width: 950px;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;

}

.serviços .card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}

.serviços .card svg {
    width: 60px;
    height: 60px;
    margin: 50px;
    transition: all 1s;
}
.serviços .card svg:hover {
    stroke: #1F647C;
    transform: scale(1.1);
}

.serviços .card h3 {
    font-weight: bold;
}
.serviços .card p{
    color: gray;
    font-size: .8rem;
    text-align: center;
}
.serviços .card .card-content {
    height: 180px;
    text-align: center;
}
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
.contato {
    padding: 60px ;
    background: #e5e5e5;
    position: relative;
}
.contato .contato-card {
    width: 350px;
    height: 300px;
    background: white;
    position: absolute;
    z-index: 99;

    border-radius: 8px;

    top: calc(50% - 150px);
    left: calc(20% - 175px);

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contato .contato-card h1 {
    padding-left: 50px;
    text-align: left;
}

.contato .contato-card li {
    list-style: none;
    font-size: .8rem;
    font-weight: bold;
    color: grey;

    display: flex;
    align-items: center;
}
.contato .contato-card li svg {
    width: 16px;
    margin: 10px;

}

@media (max-width: 950px) {
    .contato {
        padding: 60px 0px;

    }
    
}
@media (max-width: 850px) {
    .contato {
        padding: 60px 0px;
        
    }
    .contato .contato-card {
        left: 40px;

    }
    .contato {
        padding: 30px 0;

    }
    .contato .contato-card {
        position: static;
        margin: 40px auto;
    }
    
}

@media (max-width: 767px) {
    
}

@media (max-width: 480px) {

    body{
        margin-bottom: 55px;
    }

    header nav ul {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%; 
        padding: 0%;
        margin: 0%;

        z-index: 99;

        background: #29383D;
        color: white;
        font-weight: bold;

        height: 55px;
         
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    header nav p{
        width: 100%;
        text-align: center;
    }
    .contato {
        padding: 30px 0;

    }
    .contato .contato-card {
        position: static;
        margin: 40px auto;
    }

}

